
ul li a  {
    list-style: none;
    margin-left: 10px;
}

button {
    margin-left: 8px;
}
.dropdown button {
    background-color: #e02d6d;
    color: white;
    border-radius: 6px;
    border-bottom: 0px;
    border-top: 3px;
    font-weight: bolder;
}

.dropdown button:hover {
    background-color: white;
    color: #e02d6d;
}

.dropdown-menu {
    border-radius: 6px;
    margin-top: 7px;
    background-color: white;
}

.dropdown-menu button:hover {
    background-color: #e02d6d;
    color: black;
}

#But0 {
    background-color: #e02d6d;
    color: white;
    border-radius: 6px;
    border-bottom: 0px;
    border-top: 3px;
    font-weight: bolder

}

#But1 {
    background-color: #e02d6d;
    color: white;
    border-radius: 6px;
    border-bottom: 0px;
    border-top: 3px;
    font-weight: bolder

}



#buttons {
    background-color: #e02d6d;
    color: white;
    border-radius: 6px;
    border-bottom: 0px;
    border-top: 3px;
    font-weight: bolder

}



